 <section class="row">
 
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/global.svg" alt="Imagem de capa do card">
    <div class="card-body">
      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores corporis numquam voluptate ab. Alias culpa dolores repellat magnam soluta ex non aliquam labore quas quis tempora, eum perspiciatis quos perferendis!.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/maps.svg" alt="Imagem de capa do card">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum placeat nulla sint tempora fugiat id aliquam. Cupiditate libero tempore natus harum dolor. Rem est, nulla at assumenda tenetur expedita debitis?.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/globe.svg" alt="Imagem de capa do card">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, tempore debitis. Neque reiciendis quidem possimus veritatis itaque incidunt? Inventore sit est autem mollitia similique non reiciendis a voluptatibus recusandae enim!.</p>
    </div>
  </div>
</section>
