
<form action="">
  <fieldset>
    <legend>Encontre sua cidade</legend>
      <label for="uf">UF
      <!-- change = quando "mudar" para o evento -->
      <select (change)="loadMunicipiosByUF($event)" name="uf" id="uf">
          <option value="Selecione">Selecione</option>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option> 
        
      </select>
    </label>
    <br>
    <label for="cidades">Cidades
      <select name="cidades" id="cidades">
        <option *ngFor="let cidade of cidades$ | async" value="{{cidade.id}}">{{cidade.nome}} </option>
      </select>
    </label>
  
</fieldset>
</form>